<div class="row">
  <div class="col-sm-3" style="margin-bottom: 15px;" *ngFor="let shop of shops">
    <div class="card shopy-card" style="width: 18rem; height: 24rem;">
      <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"  style="height: 3rem;">{{ shop.name }}</h5>
        <p class="card-text" style="height: 2rem;">{{ shop.address }}</p>
        <div class="vote">
            <div class="vote_bare">
              <div class="vote_prgress" style="{{ countProgress(shop) }}"></div>
            </div>
            <div class="vote_btns">
              <a  href="#" class="vote_btn vote_like btn btn-secondary" (click)="likeButtonClick($event, shop.id)">
                <i class="fa fa-thumbs-up"></i> {{ shop.like_count }}
              </a>
              <a href="#" class="vote_btn vote_dislike btn btn-secondary float-right" (click)="dislikeButtonClick($event, shop.id)">
                <i class="fa fa-thumbs-down"></i> {{ shop.dislike_count }}
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>