<div class="row">
  <div class="col-sm-3" style="margin-bottom: 15px;" *ngFor="let shop of shops">
    <div class="card shopy-card" style="width: 18rem; height: 24rem;">
      <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"  style="height: 3rem;">{{ shop.name }}</h5>
        <p class="card-text" style="height: 2rem;">{{ shop.address }}</p>
        <app-like></app-like>
      </div>
    </div>
  </div>
</div>